﻿@page "/Console"
@using UniversalGameServerManager.Model.Local
@inject HttpClient HttpClient
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using System.Reflection;
@inject NavigationManager NavigationManager
@inject IToastService toastService
@using Syncfusion.Blazor.ProgressBar
@using Microsoft.AspNetCore.Components.Web  
 
<div class="row">
    <div class="col-10">
        <SfListView @ref="gConsoleView" EnableVirtualization="true" SortOrder="Syncfusion.Blazor.Lists.SortOrder.Ascending" TValue="string" Height="562px" DataSource="m_ConsoleText" > </SfListView>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-9">
            <SfTextBox @ref="m_InputCommandTextbox" OnKeypress="KeyUp"></SfTextBox>
        </div>
         <div >
             <span><SfButton Content="Send" OnClick="@SendCommand"></SfButton></span>
         </div>
    </div>
</div>



    @code {
        public static System.Collections.ObjectModel.ObservableCollection<string> m_ConsoleText = new System.Collections.ObjectModel.ObservableCollection<string>() {   };
        public static bool m_isGameServer { get; set; }
        public static GameServerModel m_GameModel { get; set; }
        public static string IPAddress { get; set; }
        public static bool isPollEnabled { get; set; }
        private SfTextBox m_InputCommandTextbox { get; set; }
        public static SfListView<string> gConsoleView;


        protected override void OnAfterRender(bool firstRender)

        {

        }


        void KeyUp(KeyboardEventArgs e)
        {
            if (e.Key == "Enter")
            {
                SendCommand();
            }

        }

        private async void SendCommand()
        {
            //  var s = m_ConsoleText[m_ConsoleText.Count - 1];
            //  gConsoleView.SortOrder = Syncfusion.Blazor.Lists.SortOrder.Descending;

           // await gConsoleView.SelectItem(s);
            System.Console.WriteLine(Pages.GameServerPages.Console.IPAddress + @"api/v1/Console/SendConsoleCommand");
            await HttpClient.PostAsJsonAsync(Pages.GameServerPages.Console.IPAddress + "api/v1/Console/SendConsoleCommand", new ConsoleCommand() { Command = m_InputCommandTextbox.Value, GameServerID = m_GameModel.UniqueGameServerID });

        }
    }

