﻿@page "/CounterStrikeGlobalOffensive"
@using UniversalGameServerManager.Model.Local
@inject HttpClient HttpClient
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@inject IToastService toastService
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.Navigations

<EditForm Model="m_NewGameServer" OnSubmit="OnSubmitNewGameServer">
    <SfAccordion ExpandMode="ExpandMode.Single">
        <AccordionItems>
            <AccordionItem Header="General" Expanded="true">
                <ContentTemplate>
                    <div class="row">
                        @* Left Column *@
                        <div class="col-4">
                            @* Server Name *@
                            <div class="form-group">
                                <SfTooltip Target="#serverNameTB" OpensOn="Hover, Focus" Position="Syncfusion.Blazor.Popups.Position.BottomRight">
                                    <TooltipTemplates>
                                        <Content>
                                            The name of your server.
                                        </Content>
                                    </TooltipTemplates>
                                    <SfTextBox ID="serverNameTB" @bind-Value="m_NewGameServer.ServerName" FloatLabelType="FloatLabelType.Always" Placeholder="Server Name" />
                                </SfTooltip>
                            </div>
                            @*----------*@
                            @* Rcon Password *@
                            <div class="form-group">
                                <SfTooltip Target="#rconPasswordTB" OpensOn="Hover, Focus" Position="Syncfusion.Blazor.Popups.Position.BottomRight">
                                    <TooltipTemplates>
                                        <Content>
                                            Password to use for RCon.
                                        </Content>
                                    </TooltipTemplates>
                                    <SfTextBox ID="rconPasswordTB" FloatLabelType="FloatLabelType.Always" Placeholder="Rcon Password" @bind-Value="m_NewGameServer.RConPassword" />
                                </SfTooltip>
                            </div>
                            @*----------*@
                            @* Max Players *@
                            <div class="form-group">
                                <SfTooltip Target="#maxPlayersTB" OpensOn="Hover, Focus" Position="Syncfusion.Blazor.Popups.Position.BottomRight">
                                    <TooltipTemplates>
                                        <Content>
                                            Maximum amount of players allowed on the server.
                                        </Content>
                                    </TooltipTemplates>
                                    <SfNumericTextBox ID="maxPlayersTB" FloatLabelType="FloatLabelType.Always" Format="###.##" Placeholder="Max Players" @bind-Value="m_NewGameServer.MaxPlayers" />
                                </SfTooltip>
                            </div>
                            @*----------*@
                            @* Team Balance Threshold *@
                            <SfTooltip Target="#teamBalanceThresholdTB" OpensOn="Hover, Focus" Position="Syncfusion.Blazor.Popups.Position.BottomRight">
                                <TooltipTemplates>
                                    <Content>
                                        This command sets the maximum amount of different in players that there can be between two teams. If this was set to 1, if the CT team had 3 and T team had 2, a new player would not be able to join the CT team. Setting this to 0 disables the check. Default is 2.
                                    </Content>
                                </TooltipTemplates>   <div class="form-group">

                                    <SfNumericTextBox ID="teamBalanceThresholdTB" FloatLabelType="FloatLabelType.Always" Format="###.##" Placeholder="Team Balance Threshold" @bind-Value="m_NewGameServer.MaxTeamBalanceDifference" />
                                </div>
                            </SfTooltip>
                            @*----------*@
                        </div>
                        @* Middle Column *@
                        <div class="col-4">
                            @*Game Server live Token*@
                            <SfTooltip IsSticky="true" Target="#GSLTTb" OpensOn="Hover, Focus" Position="Syncfusion.Blazor.Popups.Position.BottomRight">
                                <TooltipTemplates>
                                    <Content>
                                        This needs to be set so that the server is listed in the community browser, get yours here
                                        https://steamcommunity.com/dev/managegameservers
                                    </Content>
                                </TooltipTemplates>
                                <div class="form-group">
                                    <Syncfusion.Blazor.Inputs.SfTextBox ID="GSLTTb" FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Always" Placeholder="Game Server Live Token" @bind-Value="m_NewGameServer.GSLT" />
                                </div>
                            </SfTooltip>

                            @*----------*@
                            @* Game Mode*@
                            <SfTooltip Target="#teamBalanceThresholdTB" OpensOn="Hover, Focus" Position="Syncfusion.Blazor.Popups.Position.BottomRight">
                                <TooltipTemplates>
                                    <Content>

                                    </Content>
                                </TooltipTemplates>
                                <div class="form-group">
                                    <SfDropDownList @ref="m_GameMode" TItem="string" TValue="string" FloatLabelType="FloatLabelType.Always" DataSource="@m_GameModes" Placeholder="Select Game Mode..." />
                                </div>
                            </SfTooltip>
                            @*----------*@
                            @*Map Group*@
                            <SfTooltip Target="#teamBalanceThresholdTB" OpensOn="Hover, Focus" Position="Syncfusion.Blazor.Popups.Position.BottomRight">
                                <TooltipTemplates>
                                    <Content>

                                    </Content>
                                </TooltipTemplates>
                                <div class="form-group">
                                    <SfTextBox @bind-Value="m_NewGameServer.MapGroup" FloatLabelType="FloatLabelType.Always" Placeholder="Map Group" />
                                </div>
                            </SfTooltip>
                            @*----------*@
                            <SfTooltip Target="#teamBalanceThresholdTB" OpensOn="Hover, Focus" Position="Syncfusion.Blazor.Popups.Position.BottomRight">
                                <TooltipTemplates>
                                    <Content>

                                    </Content>
                                </TooltipTemplates>
                                @*Starting Map*@
                                <div class="form-group">
                                    <SfTextBox @bind-Value="m_NewGameServer.StartingMap" FloatLabelType="FloatLabelType.Always" Placeholder="Starting Map" />
                                </div>
                            </SfTooltip>
                            @*----------*@
                        </div>
                        @* Right Column *@
                        <div class="col-4">
                            @*Private Server*@
                            <SfTooltip Target="#teamBalanceThresholdTB" OpensOn="Hover, Focus" Position="Syncfusion.Blazor.Popups.Position.BottomRight">
                                <TooltipTemplates>
                                    <Content>

                                    </Content>
                                </TooltipTemplates>
                                <div class="form-group">
                                    <SfCheckBox Label="Private Server" @bind-Checked="m_NewGameServer.isPrivateServer" LabelPosition="LabelPosition.After" />   @*//Set password*@
                                </div>
                            </SfTooltip>
                            @*----------*@
                            @*Enable Cheats*@
                            <SfTooltip Target="#teamBalanceThresholdTB" OpensOn="Hover, Focus" Position="Syncfusion.Blazor.Popups.Position.BottomRight">
                                <TooltipTemplates>
                                    <Content>

                                    </Content>
                                </TooltipTemplates>
                                <div class="form-group">
                                    <SfCheckBox Label="Enable Cheats" @bind-Checked="m_NewGameServer.EnableCheats" LabelPosition="LabelPosition.After" />
                                </div>
                            </SfTooltip>
                            @*----------*@
                            @*Local Server*@
                            <SfTooltip Target="#teamBalanceThresholdTB" OpensOn="Hover, Focus" Position="Syncfusion.Blazor.Popups.Position.BottomRight">
                                <TooltipTemplates>
                                    <Content>

                                    </Content>
                                </TooltipTemplates>
                                <div class="form-group">
                                    <SfCheckBox Label="Local Server" @bind-Checked="m_NewGameServer.isLocalServer" LabelPosition="LabelPosition.After" />
                                </div>
                            </SfTooltip>
                            @*----------*@
                        </div>
                    </div>


                    @*    public string ServerTags { get; set; }
                        public byte AllowVotes { get; set; }
                                                public byte TickRate { get; set; }
                                port

                    *@
                </ContentTemplate>
            </AccordionItem>
            <AccordionItem Header="Game Mode">
                <ContentTemplate>
                    //disable game mode changes
                </ContentTemplate>
            </AccordionItem>
            <AccordionItem Header="Server Management">
                <ContentTemplate>
                    @*    public byte SimulateEntitiesEveryOtherTick { get; set; }
                                public byte ForceServerPreload { get; set; }
                                public byte KickPlayersWithMMCooldown { get; set; }
                                public byte AllowOtherWorkshopMaps { get; set; }
                                public byte HibernateServerWhenEmpty { get; set; }
                                                       public byte KickUnpureClients { get; set; }
                                public byte TracePureCheck { get; set; }
                                       public string RemoteMissingFilesDownloadUrl { get; set; }
                        public byte AllowFileDownloads { get; set; }
                        public byte AllowFileUploads { get; set; }
                        public byte isServerPausable { get; set; }
                    *@
                </ContentTemplate>
            </AccordionItem>

            <AccordionItem Header="RCon">
                <ContentTemplate>
                </ContentTemplate>
            </AccordionItem>

            <AccordionItem Header="Bots">
                <ContentTemplate>
                </ContentTemplate>
            </AccordionItem>
            <AccordionItem Header="Logging">
                <ContentTemplate>
                    @*
                        public bool EnableLogging { get; set; }
                        public byte KeepLogsInOneFile { get; set; }
                        public byte LogBans { get; set; }
                        public byte LogEchos { get; set; }
                        public byte LogServerInformation { get; set; }
                        public byte FlushLogOnEachWrite { get; set; } *@
                </ContentTemplate>
            </AccordionItem>
        </AccordionItems>
    </SfAccordion>
    <div class="row"></div>
    <button type="submit" class="btn btn-primary">Next</button>
</EditForm>

@code {



    /*

        public byte AutoKickPlayers { get; set; }
        public int SpawnProtectionTime { get; set; }
        public int DamageThresholdToKickPlayer { get; set; }
        public int DamageThresholdToWarnKickPlayer { get; set; }
        public int DamageThresholdToKickPlayerStartOfRound { get; set; }
                      public byte AllTalk { get; set; }
   */


    private CounterStrikeGOGameServer m_NewGameServer = new CounterStrikeGOGameServer()
    {
        GameID = (int)GameID.CounterStrikeGO
    };

    SfDropDownList<string, string> m_GameMode;
    private List<string> m_GameModes = new List<string> { "Classic Casual", "Classic Competitive", "Wingman", "Arms Race", "Demolition", "Deathmatch", "Custom", "Guardian", "Co-op Strike", "Danger Zone" };


    protected override void OnInitialized()
    {
        m_NewGameServer.IPAddress = GlobalVariables.gCurrentSelectedIPAddressForGameServer;
        m_NewGameServer.GameID = (int)GameID.CounterStrikeGO;
    }

    public void OnCommandClicked(CommandClickEventArgs<GameServerModel> args)
    {

    }

    public void ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
    }

    private async void OnSubmitNewGameServer()
    {
        if (m_GameMode.Index == 0)
        {
            m_NewGameServer.GameType = 0;
            m_NewGameServer.GameMode = 0;
        }
        else if (m_GameMode.Index == 1)
        {
            m_NewGameServer.GameType = 0;
            m_NewGameServer.GameMode = 1;

        }
        else if (m_GameMode.Index == 2)
        {
            m_NewGameServer.GameType = 0;
            m_NewGameServer.GameMode = 2;
        }
        else if (m_GameMode.Index == 3)
        {
            m_NewGameServer.GameType = 1;
            m_NewGameServer.GameMode = 0;
        }
        else if (m_GameMode.Index == 4)
        {
            m_NewGameServer.GameType = 1;
            m_NewGameServer.GameMode = 1;
        }
        else if (m_GameMode.Index == 5)
        {
            m_NewGameServer.GameMode = 2;
            m_NewGameServer.GameType = 1;
        }
        else if (m_GameMode.Index == 6)
        {
            m_NewGameServer.GameMode = 3;
            m_NewGameServer.GameType = 0;
        }
        else if (m_GameMode.Index == 7)
        {
            m_NewGameServer.GameMode = 4;
            m_NewGameServer.GameType = 0;
        }
        else if (m_GameMode.Index == 8)
        {
            m_NewGameServer.GameMode = 4;
            m_NewGameServer.GameType = 1;
        }
        else if (m_GameMode.Index == 9)
        {
            m_NewGameServer.GameMode = 6;
            m_NewGameServer.GameType = 0;
        }

        var httpResonse = await HttpClient.PostAsJsonAsync<CounterStrikeGOGameServer>(GlobalVariables.gCurrentSelectedIPAddressForGameServer + "api/v1/DedicatedServer" + "/CreateNewCounterStrikeGOGameServer", m_NewGameServer);

        var  response = await httpResonse.Content.ReadFromJsonAsync<ulong>();
        m_NewGameServer.UniqueGameServerID = response;

        if (response == 0)
        {
            toastService.ShowError(m_NewGameServer.ServerName + " Game Server Installation failed, Check Server Console, for further details");
        }
        else
        {
            m_NewGameServer.UniqueGameServerID = response;

            var gameServerModel = new GameServerModel()
            {
                GameID = m_NewGameServer.GameID ?? 0,
                GameName = GameIDHelpers.GameIDToGameNames[(GameID)m_NewGameServer.GameID],
                ServerName = m_NewGameServer.ServerName,
                UniqueGameServerID = response,
                CurrentPlayers = 0,
                MaxPlayers = m_NewGameServer.MaxPlayers ?? 0,
                NetworkAddress = m_NewGameServer.IPAddress
            };

            GameServers.gGameServerModels.Add(gameServerModel);

            GlobalVariables.gSettings.gCounterStrikeGoGameServers.Add(m_NewGameServer);

            GlobalVariables.SaveGameServersData();
            GameServers.gGameServerModels.Add(gameServerModel);
            NavigationManager.NavigateTo("GameServers");

        }


    }
}

