﻿@page "/Terraria"
@using UniversalGameServerManager.Model.Local
@inject HttpClient HttpClient
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using System.Reflection;
@inject NavigationManager NavigationManager
@inject IToastService toastService
@using Syncfusion.Blazor.ProgressBar

<EditForm Model="m_NewGameServer" OnSubmit="OnSubmitNewGameServer">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <SfTextBox @bind-Value="m_NewGameServer.ServerName" FloatLabelType="FloatLabelType.Always" Placeholder="Server Name" />
            </div>
            <div class="form-group">
                <SfNumericTextBox @bind-Value="m_NewGameServer.MaxPlayers" Format="###.##" FloatLabelType="FloatLabelType.Always" Placeholder="Max Players" />
            </div>
            <div class="form-group">
                <SfTextBox @bind-Value="m_NewGameServer.MOTD" Multiline="true" FloatLabelType="FloatLabelType.Always" Placeholder="Message of The Day" />
            </div>
            <div class="form-group">
                <SfCheckBox @bind-Checked="m_GenerateNewWorld" Label="Generate New World" />
            </div>
            <div class="form-group">
                <SfTextBox @bind-Value="m_NewGameServer.WorldName" Enabled="@m_GenerateNewWorld" FloatLabelType="FloatLabelType.Always" Placeholder="World Name" />
            </div>
            <div class="form-group">
                <SfTextBox @bind-Value="m_NewGameServer.WorldSeed" Enabled="@m_GenerateNewWorld" FloatLabelType="FloatLabelType.Always" Placeholder="World Seed" />
            </div>
            <div class="form-group">
                <SfDropDownList @ref="m_WorldSizeDropDown" Enabled="@m_GenerateNewWorld" TValue="string" TItem="string" DataSource="m_WorldSizeList" FloatLabelType="FloatLabelType.Always" Placeholder="World Size" />
            </div>
            <div class="form-group">
                <SfDropDownList @ref="m_WorldDifficultyDropDown" Enabled="@m_GenerateNewWorld" TValue="string" TItem="string" DataSource="m_WorldDifficultyList" FloatLabelType="FloatLabelType.Always" Placeholder="World Difficulty" />
            </div>
            <div class="form-group">
                <label>World File To Use:</label>
                <SfUploader Enabled="!m_GenerateNewWorld" @ref="UploadObj" ID="UploadFiles" Multiple="false" AllowedExtensions=".wld" AutoUpload="false">
                    <UploaderEvents ValueChange="OnChangeWorldFile"></UploaderEvents>
                    <UploaderAsyncSettings SaveUrl="api/v1/FileManager/Save" RemoveUrl="api/v1/FileManager/Remove">
                    </UploaderAsyncSettings>
                </SfUploader>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <SfNumericTextBox @bind-Value="m_NewGameServer.PortNumber" Format="###.##" FloatLabelType="FloatLabelType.Always" Placeholder="Port Number" />
            </div>
            <div class="form-group">
                <SfTextBox @bind-Value="m_NewGameServer.Password" FloatLabelType="FloatLabelType.Always" Placeholder="Server Password" />
            </div>
            <div class="form-group">
                <SfDropDownList @ref="m_ServerLanguageDropDown" TValue="string" TItem="string" DataSource="m_ServerLanguageList" FloatLabelType="FloatLabelType.Always" Placeholder="Language" />
            </div>
            <div class="form-group">
                <SfDropDownList @ref="m_CPUPriorityDropDown" TValue="string" TItem="string" DataSource="m_CPUPriorityList" FloatLabelType="FloatLabelType.Always" Placeholder="CPU Priority" />
            </div>
            <div class="form-group">
                <label>NPC Skipping</label>
                <SfSlider @bind-Value="m_NewGameServer.NPCSkipping" Min="0" Max="120">
                    <SliderTicksData Placement="Placement.After" ShowSmallTicks="true" LargeStep="10" SmallStep="1"></SliderTicksData>
                    <SliderTooltipData IsVisible="true" ShowOn="TooltipShowOn.Always" Placement="TooltipPlacement.Before"></SliderTooltipData>
                </SfSlider>
            </div>
            <div class="form-group">
                <SfCheckBox @bind-Checked="m_NewGameServer.EnableCheatProtection" Label="Cheat Protection" />
            </div>
            <div class="form-group">
                <SfCheckBox @bind-Checked="m_NewGameServer.EnableSteamSupport" Label="Steam Support" />
            </div>
            <div class="form-group">
                <SfCheckBox @bind-Checked="m_NewGameServer.AllowFriendsToJoin" Disabled="!m_NewGameServer.EnableSteamSupport" Label="Allow Steam Friends To Join" />
            </div>
            <div class="form-group">
                <SfCheckBox @bind-Checked="m_NewGameServer.DisableAccouncementBox" Label="Disable Announcement Box" />
            </div>
            <div class="form-group">
                <SfNumericTextBox @bind-Value="m_NewGameServer.AnnouncementBoxRange" Format="###.##" Enabled="!m_NewGameServer.DisableAccouncementBox" FloatLabelType="FloatLabelType.Always" Placeholder="Announcement Box Range" />
            </div>
        </div>
        <div class="col-4">
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Next</button>
</EditForm>


@if (isSettingUpServer)
{
    <SfDialog  Visible="true" Width="400px" ShowCloseIcon="false" IsModal="true">
        <SfProgressBar Type="ProgressType.Circular" 
                       TrackThickness="8" Value="50" ProgressThickness="8">
        </SfProgressBar>
    </SfDialog>
}




@code {
    private TerrariaGameServer m_NewGameServer = new TerrariaGameServer();
    private List<string> m_WorldSizeList = new List<string>() { "Small", "Medium", "Large" };
    private List<string> m_WorldDifficultyList = new List<string>() { "Normal", "Expert" };
    private List<string> m_CPUPriorityList = new List<string>() { "Realtime", "High", "Above Normal", "Normal", "Below Normal", "Idle" };
    //#English = en-US, German = de-DE, Italian = it-IT, French = fr-FR, Spanish = es-ES, Russian = ru-RU, Chinese = zh-Hans, Portuguese = pt-BR, Polish = pl-PL,
    private List<string> m_ServerLanguageList = new List<string>() { "en-US", "de-DE", "it-IT", "fr-FR", "es-ES", "ru-RU", "zh-Hans", "pt-BR", "pl-PL" };
    SfDropDownList<string, string> m_WorldSizeDropDown;
    SfDropDownList<string, string> m_WorldDifficultyDropDown;
    SfDropDownList<string, string> m_CPUPriorityDropDown;
    SfDropDownList<string, string> m_ServerLanguageDropDown;
    private bool m_GenerateNewWorld = true;
    SfUploader UploadObj;
    private bool isSettingUpServer = false;
    public static bool isNewGameServer;


    protected override void OnInitialized()
    {
        m_NewGameServer.IPAddress = GlobalVariables.gCurrentSelectedIPAddressForGameServer;
        m_NewGameServer.GameID = (int)GameID.Terraria;
    }

    public void OnChangeWorldFile(UploadChangeEventArgs args)
    {


        foreach (var file in args.Files)
        {


        }
    }

    public void OnCommandClicked(CommandClickEventArgs<GameServerModel> args)
    {

    }

    public void ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
    }

    private async void OnSubmitNewGameServer()
    {
        foreach (var item in GlobalVariables.gSettings.gTerrariaGameServers)
        {
            if (item.PortNumber == m_NewGameServer.PortNumber)
            {
                toastService.ShowError("The Port Number Is Already In Use By: " + item.ServerName + Environment.NewLine + " Change The Port Number To An Available Port");
                return;
            }
        }

        m_NewGameServer.WorldSize = m_WorldSizeDropDown.Index + 1 ?? 1;
        m_NewGameServer.Difficulty = m_WorldDifficultyDropDown.Index ?? 0;
        m_NewGameServer.CPUPriority = m_CPUPriorityDropDown.Index ?? 0;
        m_NewGameServer.ServerLanguage = m_ServerLanguageDropDown.Value;

        if (!m_GenerateNewWorld)
        {
            foreach (var item in UploadObj.Files)
            {
                //     item.Name = TerrariaGameServer.WorldFolder + item.Name;

                //SaveUrl="api/v1/FileManager/Save" RemoveUrl="api/v1/FileManager/Remove"
            }
            UploadObj.AsyncSettings.SaveUrl = GlobalVariables.gCurrentSelectedIPAddressForGameServer + "api/v1/FileManager/Save";
            UploadObj.AsyncSettings.RemoveUrl = GlobalVariables.gCurrentSelectedIPAddressForGameServer + "api/v1/FileManager/Remove";
            await UploadObj.Upload();
        }

        //    m_NewGameServer.WorldSavePath = TerrariaGameServer.WorldFolder;

        isSettingUpServer = true;
        m_NewGameServer.ParseConfigfile();
        var response = await HttpClient.PostAsJsonAsync<TerrariaGameServer>(GlobalVariables.gCurrentSelectedIPAddressForGameServer + "api/v1/DedicatedServer" + "/CreateNewTerrariaGameServer", m_NewGameServer).Result.Content.ReadFromJsonAsync<ulong>();
        isSettingUpServer = false;

        System.Console.WriteLine(Newtonsoft.Json.JsonConvert.SerializeObject(m_NewGameServer));

        if (response == 0)
        {
            toastService.ShowError(m_NewGameServer.ServerName + " Game Server Installation failed, Check Server Console, for further details");
        }
        else
        {
            m_NewGameServer.UniqueGameServerID = response;

            var gameServerModel = new GameServerModel()
            {
                GameID = m_NewGameServer.GameID ?? 0,
                GameName = GameIDHelpers.GameIDToGameNames[(GameID)m_NewGameServer.GameID],
                ServerName = m_NewGameServer.ServerName,
                UniqueGameServerID = response,
                CurrentPlayers = 0,
                MaxPlayers = 0,
                NetworkAddress = m_NewGameServer.IPAddress
            };

            GameServers.gGameServerModels.Add(gameServerModel);

            GlobalVariables.gSettings.gTerrariaGameServers.Add(m_NewGameServer);

            GlobalVariables.SaveGameServersData();

            NavigationManager.NavigateTo("GameServers");

        }
    }
}

