﻿@page "/TheIsle"
@using UniversalGameServerManager.Model.Local
@inject HttpClient HttpClient
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@inject IToastService toastService
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.Navigations

<EditForm Model="m_NewGameServer" OnSubmit="OnSubmitNewGameServer">
    <SfAccordion ExpandMode="ExpandMode.Single">
        <AccordionItems>
            <AccordionItem Header="General" Expanded="true">
                <ContentTemplate>
                    <div class="row">
                        @* Left Column *@
                        <div class="col-4">
                            @* Server Name *@
                            <div class="form-group">
                                <SfTooltip Target="#serverNameTB" OpensOn="Hover, Focus" Position="Syncfusion.Blazor.Popups.Position.BottomRight">
                                    <TooltipTemplates>
                                        <Content>
                                            The name of your server.
                                        </Content>
                                    </TooltipTemplates>
                                    <SfTextBox ID="serverNameTB" @bind-Value="m_NewGameServer.ServerName" FloatLabelType="FloatLabelType.Always" Placeholder="Server Name" />
                                </SfTooltip>
                            </div>
                            @*----------*@
                            </div>
                    </div>


                    @*    public string ServerTags { get; set; }
                        public byte AllowVotes { get; set; }
                                                public byte TickRate { get; set; }
                                port

                    *@
                </ContentTemplate>
            </AccordionItem>
            <AccordionItem Header="Game Mode">
                <ContentTemplate>
                    //disable game mode changes
                </ContentTemplate>
            </AccordionItem>
            <AccordionItem Header="Server Management">
                <ContentTemplate>
                    @*    public byte SimulateEntitiesEveryOtherTick { get; set; }
                                public byte ForceServerPreload { get; set; }
                                public byte KickPlayersWithMMCooldown { get; set; }
                                public byte AllowOtherWorkshopMaps { get; set; }
                                public byte HibernateServerWhenEmpty { get; set; }
                                                       public byte KickUnpureClients { get; set; }
                                public byte TracePureCheck { get; set; }
                                       public string RemoteMissingFilesDownloadUrl { get; set; }
                        public byte AllowFileDownloads { get; set; }
                        public byte AllowFileUploads { get; set; }
                        public byte isServerPausable { get; set; }
                    *@
                </ContentTemplate>
            </AccordionItem>

            <AccordionItem Header="RCon">
                <ContentTemplate>
                </ContentTemplate>
            </AccordionItem>

            <AccordionItem Header="Bots">
                <ContentTemplate>
                </ContentTemplate>
            </AccordionItem>
            <AccordionItem Header="Logging">
                <ContentTemplate>
                    @*
                        public bool EnableLogging { get; set; }
                        public byte KeepLogsInOneFile { get; set; }
                        public byte LogBans { get; set; }
                        public byte LogEchos { get; set; }
                        public byte LogServerInformation { get; set; }
                        public byte FlushLogOnEachWrite { get; set; } *@
                </ContentTemplate>
            </AccordionItem>
        </AccordionItems>
    </SfAccordion>
    <div class="row"></div>
    <button type="submit" class="btn btn-primary">Next</button>
</EditForm>

@code {

    private TheIsleGameServer m_NewGameServer = new TheIsleGameServer()
    {
        GameID = (int)GameID.TheIsle
    };



    protected override void OnInitialized()
    {
        m_NewGameServer.IPAddress = GlobalVariables.gCurrentSelectedIPAddressForGameServer;
        m_NewGameServer.GameID = (int)GameID.TheIsle;
    }

    public void OnCommandClicked(CommandClickEventArgs<GameServerModel> args)
    {

    }

    public void ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
    }

    private async void OnSubmitNewGameServer()
    {


        var httpResonse = await HttpClient.PostAsJsonAsync<TheIsleGameServer>(GlobalVariables.gCurrentSelectedIPAddressForGameServer + "api/v1/DedicatedServer" + "/CreateTheIsleServer", m_NewGameServer);

        var  response = await httpResonse.Content.ReadFromJsonAsync<ulong>();
        m_NewGameServer.UniqueGameServerID = response;

        if (response == 0)
        {
            toastService.ShowError(m_NewGameServer.ServerName + " Game Server Installation failed, Check Server Console, for further details");
        }
        else
        {
            m_NewGameServer.UniqueGameServerID = response;

            var gameServerModel = new GameServerModel()
            {
                GameID = m_NewGameServer.GameID ?? 0,
                GameName = GameIDHelpers.GameIDToGameNames[(GameID)m_NewGameServer.GameID],
                ServerName = m_NewGameServer.ServerName,
                UniqueGameServerID = response,
                CurrentPlayers = 0,
                MaxPlayers = 0,
                NetworkAddress = m_NewGameServer.IPAddress
            };

            GameServers.gGameServerModels.Add(gameServerModel);

            GlobalVariables.gSettings.gTheIsleGameServers.Add(m_NewGameServer);

            GlobalVariables.SaveGameServersData();
            NavigationManager.NavigateTo("GameServers");

        }


    }
}

