﻿@page "/View/Terraria"
@using UniversalGameServerManager.Model.Local
@inject HttpClient HttpClient
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using System.Reflection;
@inject NavigationManager NavigationManager
@inject IToastService toastService
@using Syncfusion.Blazor.ProgressBar
 
    <div class="row">
        <div class="col-4">

            <div class="form-group">
                <SfTextBox @bind-Value="m_NewGameServer.ServerName" Enabled="false" FloatLabelType="FloatLabelType.Always" Placeholder="Server Name" />
            </div>
            <div class="form-group">
                <SfNumericTextBox @bind-Value="m_NewGameServer.MaxPlayers" Enabled="false" FloatLabelType="FloatLabelType.Always" Placeholder="Max Players" />
            </div>
            <div class="form-group">
                <SfTextBox @bind-Value="m_NewGameServer.MOTD" Multiline="true" Enabled="false" FloatLabelType="FloatLabelType.Always" Placeholder="Message of The Day" />
            </div>
            <div class="form-group">
                <SfCheckBox @bind-Checked="m_GenerateNewWorld" Disabled="true" Label="Generate New World" />
            </div>
            <div class="form-group">
                <SfTextBox @bind-Value="m_NewGameServer.WorldName"  Enabled="false" FloatLabelType="FloatLabelType.Always" Placeholder="World Name" />
            </div>
            <div class="form-group">
                <SfTextBox @bind-Value="m_NewGameServer.WorldSeed" Enabled="false" FloatLabelType="FloatLabelType.Always" Placeholder="World Seed" />
            </div>
            <div class="form-group">
                <SfDropDownList @ref="m_WorldSizeDropDown" Enabled="false" TValue="string" TItem="string" DataSource="m_WorldSizeList" FloatLabelType="FloatLabelType.Always" Placeholder="World Size" />
            </div>
            <div class="form-group">
                <SfDropDownList @ref="m_WorldDifficultyDropDown" Enabled="false" TValue="string" TItem="string" DataSource="m_WorldDifficultyList" FloatLabelType="FloatLabelType.Always" Placeholder="World Difficulty" />
            </div>
            <div class="form-group">
                <label>World File To Use:</label>
                <SfUploader Enabled="!m_GenerateNewWorld" @ref="UploadObj" ID="UploadFiles" Multiple="false" AllowedExtensions=".wld" AutoUpload="false">
                    <UploaderEvents ValueChange="OnChangeWorldFile"></UploaderEvents>
                    <UploaderAsyncSettings  SaveUrl="api/v1/FileManager/Save" RemoveUrl="api/v1/FileManager/Remove">
                    </UploaderAsyncSettings>
                </SfUploader>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <SfNumericTextBox @bind-Value="m_NewGameServer.PortNumber" Enabled="false" Format="###.##" FloatLabelType="FloatLabelType.Always" Placeholder="Port Number" />
            </div>
            <div class="form-group">
                <SfTextBox @bind-Value="m_NewGameServer.Password" Enabled="false" FloatLabelType="FloatLabelType.Always" Placeholder="Server Password" />
            </div>
            <div class="form-group">
                <SfDropDownList @ref="m_ServerLanguageDropDown" Enabled="false" TValue="string" TItem="string" DataSource="m_ServerLanguageList" FloatLabelType="FloatLabelType.Always" Placeholder="Language" />
            </div>
            <div class="form-group">
                <SfDropDownList @ref="m_CPUPriorityDropDown" Enabled="false" TValue="string" TItem="string" DataSource="m_CPUPriorityList" FloatLabelType="FloatLabelType.Always" Placeholder="CPU Priority" />
            </div>
            <div class="form-group">
                <label>NPC Skipping</label>
                <SfSlider @bind-Value="m_NewGameServer.NPCSkipping" Enabled="false" Min="0" Max="120">
                    <SliderTicksData Placement="Placement.After" ShowSmallTicks="true" LargeStep="10" SmallStep="1"></SliderTicksData>
                    <SliderTooltipData IsVisible="true" ShowOn="TooltipShowOn.Always" Placement="TooltipPlacement.Before"></SliderTooltipData>
                </SfSlider>
            </div>
            <div class="form-group">
                <SfCheckBox @bind-Checked="m_NewGameServer.EnableCheatProtection" Disabled="true" Label="Cheat Protection" />
            </div>
            <div class="form-group">
                <SfCheckBox @bind-Checked="m_NewGameServer.EnableSteamSupport" Disabled="true" Label="Steam Support" />
            </div>
            <div class="form-group">
                <SfCheckBox @bind-Checked="m_NewGameServer.AllowFriendsToJoin" Disabled="true" Label="Allow Steam Friends To Join" />
            </div>
            <div class="form-group">
                <SfCheckBox @bind-Checked="m_NewGameServer.DisableAccouncementBox" Disabled="true" Label="Disable Announcement Box" />
            </div>
            <div class="form-group">
                <SfNumericTextBox @bind-Value="m_NewGameServer.AnnouncementBoxRange" Enabled="false" FloatLabelType="FloatLabelType.Always" Placeholder="Announcement Box Range" />
            </div>
        </div>
        <div class="col-4">
        </div>

    </div>
    <div class="row"></div>
    <button type="submit" class="btn btn-primary">Next</button>


 @if (isSettingUpServer)
 {
     <SfProgressBar Type="ProgressType.Circular" IsIndeterminate="true"
TrackThickness="8" ProgressThickness="8">
</SfProgressBar>
 }

    @code {
        private TerrariaGameServer m_NewGameServer=new TerrariaGameServer()
        {
            GameID=(int)GameID.Terraria
        };
        private List<string> m_WorldSizeList = new List<string>() { "Small", "Medium", "Large" };
        private List<string> m_WorldDifficultyList = new List<string>() { "Normal", "Expert" };
        private List<string> m_CPUPriorityList = new List<string>() { "Realtime", "High", "Above Normal", "Normal", "Below Normal", "Idle" };
        //#English = en-US, German = de-DE, Italian = it-IT, French = fr-FR, Spanish = es-ES, Russian = ru-RU, Chinese = zh-Hans, Portuguese = pt-BR, Polish = pl-PL,
        private List<string> m_ServerLanguageList = new List<string>() { "en-US", "de-DE", "it-IT", "fr-FR", "es-ES", "ru-RU", "zh-Hans", "pt-BR", "pl-PL" };
        SfDropDownList<string, string> m_WorldSizeDropDown;
        SfDropDownList<string, string> m_WorldDifficultyDropDown;
        SfDropDownList<string, string> m_CPUPriorityDropDown;
        SfDropDownList<string, string> m_ServerLanguageDropDown;
        private bool m_GenerateNewWorld = true;
        SfUploader UploadObj;
        private bool isSettingUpServer;
        public static bool isNewGameServer;


        protected override void OnInitialized()
        {
            m_NewGameServer.IPAddress = GlobalVariables.gCurrentSelectedIPAddressForGameServer;
        }

        public void OnChangeWorldFile(UploadChangeEventArgs args)
        {


            foreach (var file in args.Files)
            {


            }
        }

        public void OnCommandClicked(CommandClickEventArgs<GameServerModel> args)
        {

        }

        public void ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
        {
        }

        private async void OnSubmitNewGameServer()
        {
            //foreach (var item in GlobalVariables.gTerrariaServers)
            //{
            //    if(item.PortNumber == m_NewGameServer.PortNumber)
            //    {
            //        toastService.ShowError("The Port Number Is Already In Use By: " + item.ServerName + Environment.NewLine + " Change The Port Number To An Available Port");
            //        return;
            //    }
            //}

            m_NewGameServer.WorldSize = m_WorldSizeDropDown.Index ?? 0 + 1;
            m_NewGameServer.Difficulty = m_WorldDifficultyDropDown.Index ?? 0;
            m_NewGameServer.CPUPriority = m_CPUPriorityDropDown.Index ?? 0;
            m_NewGameServer.ServerLanguage = m_ServerLanguageDropDown.Value;

            if (m_GenerateNewWorld)
            {

                foreach (var item in UploadObj.Files)
                {
                    //   item.Name = TerrariaGameServer.WorldFolder + item.Name;
                }

                await UploadObj.Upload();
            }


            isSettingUpServer = true;
            var response = await HttpClient.PostAsJsonAsync<TerrariaGameServer>(GlobalVariables.gCurrentSelectedIPAddressForGameServer + "api/v1/DedicatedServer" + "/CreateNewTerrariaGameServer", m_NewGameServer).Result.Content.ReadFromJsonAsync<ulong>();
            isSettingUpServer = false;

            if (response == 0)
            {
                toastService.ShowError(m_NewGameServer.ServerName + " Game Server Installation failed, Check Server Console, for further details");
            }
            else
            {
                m_NewGameServer.UniqueGameServerID = response;

                //var gameServerModel = new GameServerModel()
                //{
                //    GameID = m_NewGameServer.GameID,
                //    GameName = GameIDHelpers.GameIDToGameNames[(GameID)m_NewGameServer.GameID],
                //    ServerName = m_NewGameServer.ServerName,
                //    UniqueGameServerID = response,
                //    CurrentPlayers = 0,
                //    MaxPlayers = (int)m_NewGameServer.MaxPlayers,
                //    NetworkAddress = GlobalVariables.gSelectedDedicatedServer.IPAddress[0]
                //};

                //GameServers.gGameServerModels.Add(gameServerModel);

                //GlobalVariables.gTerrariaServers.Add(m_NewGameServer);

                //GlobalVariables.SaveGameServersData();
                //GameServers.gGameServerModels.Add(gameServerModel);
                //NavigationManager.NavigateTo("GameServers");

            }
        }
}

