﻿@page "/DedicatedServers"
@using UniversalGameServerManager.Model.Local
@inject HttpClient HttpClient
@using Syncfusion.Blazor.Popups
@inject IToastService toastService
 

<SfGrid @ref="m_DedicatedServerGrid" TValue="DedicatedServerModel" DataSource="@GlobalVariables.gDedicatedServers" AllowPaging="true" AllowFiltering="true" Toolbar="Toolbaritems" AllowPdfExport="true" AllowSelection="false" AllowSorting="true">
    <GridEvents CommandClicked="OnCommandClicked" TValue="DedicatedServerModel"></GridEvents>
    <GridEvents OnToolbarClick="ToolbarClickHandler" TValue="DedicatedServerModel"></GridEvents>

    <GridColumns>
        <GridColumn Field=@nameof(DedicatedServerModel.isOnline) HeaderText="Online"></GridColumn>
        <GridColumn Field=@nameof(DedicatedServerModel.Name) HeaderText="Name"></GridColumn>
        <GridColumn Field=@nameof(DedicatedServerModel.CPU) HeaderText="CPU"></GridColumn>
        <GridColumn Field=@nameof(DedicatedServerModel.CPUCores) HeaderText="CPU Cores"></GridColumn>
        <GridColumn Field=@nameof(DedicatedServerModel.CPUFrequency) HeaderText="CPU Frequency"></GridColumn>
        <GridColumn Field=@nameof(DedicatedServerModel.MemoryMB) HeaderText="Memory"></GridColumn>
        <GridColumn Field=@nameof(DedicatedServerModel.NetworkSpeed) HeaderText="Network Speed"></GridColumn>
        <GridColumn>
            <GridCommandColumns>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "Details", CssClass = "e-flat" })"></GridCommandColumn>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "Delete", CssClass = "e-danger" })"></GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>
</SfGrid>

<SfDialog @ref="@m_NewDedicatedServerDialog" Visible="false" Width="400px" ShowCloseIcon="true" IsModal="true">
    <EditForm Model="@m_NewDedicatedServer" OnSubmit="OnSubmitNewDedicatedServer">
        <p>
            <label>
                Server Name:
                <InputText @bind-Value="m_NewDedicatedServer.Name" />
            </label>
        </p>  <p>
            <label>
                Server I.P. Address:
                <InputText @bind-Value="m_ServerIPAddress" />
            </label>
        </p>
        <p>
            <label>
                Network Speed(MB):
                <InputNumber @bind-Value="m_NewDedicatedServer.NetworkSpeed" />
            </label>
        </p>
        <button type="submit" class="btn btn-primary">Next</button>
    </EditForm>
</SfDialog>

@code {
    private List<ItemModel> Toolbaritems;
    private DedicatedServerModel m_NewDedicatedServer = new DedicatedServerModel();
    private SfDialog m_NewDedicatedServerDialog;
    private string m_ServerIPAddress;
    private SfGrid<DedicatedServerModel> m_DedicatedServerGrid;

    protected override void OnInitialized()
    {
        //    GlobalVariables.gDedicatedServers = new List<DedicatedServerModel>() { new DedicatedServerModel() { CPU = "CPU", NetworkSpeed = 100, CPUCores = 8, CPUFrequency = 2f, IPAddress = "127", MemoryMB = 1000, Name = "fake" } };
        Toolbaritems = new List<ItemModel>(){
        new ItemModel() { Text = "Add New", TooltipText = "Setup A New Dedicated Server", PrefixIcon = "e-collapse", Align = (Syncfusion.Blazor.Navigations.ItemAlign.Right) }        };
    }

    public void OnCommandClicked(CommandClickEventArgs<DedicatedServerModel> args)
    {
        // Perform required operations here

    }

    public void ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        m_NewDedicatedServerDialog.Show();
    }

    private async void OnSubmitNewDedicatedServer()
    {
        toastService.ShowInfo("Querying Server...");

        if (!m_ServerIPAddress.Contains("http://"))
        {
            m_ServerIPAddress = "http://" + m_ServerIPAddress;
        }

        if (!m_ServerIPAddress.EndsWith("/") && !m_ServerIPAddress.Contains(":"))
        {
           m_ServerIPAddress = m_ServerIPAddress + "/";
        }

        if (!m_ServerIPAddress.Contains(":"))
        {
            m_ServerIPAddress = m_ServerIPAddress + ":5000/";
        }

        var response = await HttpClient.GetFromJsonAsync<BasicInfo>(m_ServerIPAddress + "api/v1/DedicatedServer" + "/GetBasicInfo");
        var result = response;

        toastService.ShowSuccess("Successfully added new dedicated server!");
        m_NewDedicatedServer.CPU = result.CPU;
        m_NewDedicatedServer.CPUCores = result.CPUCores;
        m_NewDedicatedServer.CPUFrequency = result.CPUFrequency;
        m_NewDedicatedServer.MemoryMB = result.MemoryMB;
        m_NewDedicatedServer.IPAddress = result.IPAddress;
        GlobalVariables.gDedicatedServers.Add(m_NewDedicatedServer);
        GlobalVariables.SaveDedicatedServersData();
        await m_NewDedicatedServerDialog.Hide();
        m_DedicatedServerGrid.Refresh();
    }
}

