﻿@page "/FileManager"
@using Syncfusion.Blazor.FileManager

<SfFileManager EnablePersistence="true" Path="@pathString" View="ViewType.Details" >
    <FileManagerAjaxSettings Url="@ajaxUrl"
                             DownloadUrl="@ajaxDownloadUrl"
                             UploadUrl="@ajaxUploadUrl"
                             GetImageUrl="@ajaxGetImageUrl" >
    </FileManagerAjaxSettings>
</SfFileManager>


@code {

    public static string pathString;
    public static string ajaxUrl = "http://116.203.212.136:5000/api/v1/FileManagerProvider/FileOperations";
    public static string ajaxDownloadUrl = "http://116.203.212.136:5000/api/v1/FileManagerProvider/Download";
    public static string ajaxUploadUrl = "http://116.203.212.136:5000/api/v1/FileManagerProvider/Upload";
    public static string ajaxGetImageUrl = "http://116.203.212.136:5000/api/v1/FileManagerProvider/GetImage";

    protected override void OnInitialized()
    {
        base.OnInitialized();

       
    }
}