﻿@page "/GameServers"
@using UniversalGameServerManager.Model.Local
@inject HttpClient HttpClient
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@inject IToastService toastService
@inject NavigationManager NavigationManager

<SfGrid DataSource="@gGameServerModels" AllowPaging="true" AllowFiltering="true" Toolbar="Toolbaritems" AllowPdfExport="true" AllowSelection="false" AllowSorting="true" EnablePersistence="true">
    <GridEvents CommandClicked="OnCommandClicked" TValue="GameServerModel"></GridEvents>
    <GridEvents OnToolbarClick="ToolbarClickHandler" TValue="GameServerModel"></GridEvents>
    <GridColumns>
        <GridColumn Field=@nameof(GameServerModel.UniqueGameServerID) HeaderText="Id"></GridColumn>
        <GridColumn Field=@nameof(GameServerModel.ServerName) HeaderText="Name"></GridColumn>
        <GridColumn Field=@nameof(GameServerModel.isRunning) HeaderText="Online"></GridColumn>
        <GridColumn>
            <GridCommandColumns>
          @if (GlobalVariables.gSettings.gEnableGameServerConsole)
          {
              <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "Console", CssClass = "e-info" })"></GridCommandColumn>
          }
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "Start", CssClass = "e-primary" })"></GridCommandColumn>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "Stop", CssClass = "e-primary" })"></GridCommandColumn>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "File Manager", CssClass = "e-primary" })"></GridCommandColumn>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "Details", CssClass = "e-info" })"></GridCommandColumn>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "Delete", CssClass = "e-danger" })"></GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>
</SfGrid>
<SfDialog @ref="@m_NewGameServerDialog" Visible="false" Width="400px" ShowCloseIcon="true" IsModal="true">
    <EditForm Model="m_NewGameServerModel" OnSubmit="OnSubmitNewGameServer">
        <p>
            <label>
                <SfDropDownList @ref="m_GameDropDown" Placeholder="Game" TItem="string" TValue="string" DataSource="@m_DropDownGameIDsList" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains">
                </SfDropDownList>
            </label>
        </p>
        <p>
            <label>
                Server:
                <SfDropDownList @ref="m_ServerDropDown" TItem="string" TValue="string" DataSource="@m_DropDownServerList">
                    <DropDownListEvents TValue="string" ValueChange="OnDedicatedServerValueChanged"></DropDownListEvents>
                </SfDropDownList>
            </label>
        </p>
        <p>
            <label>
                IPAddress To Use:
                <SfDropDownList @ref="m_ServerIPAddressDropDown" TItem="string" TValue="string" DataSource="@m_DropDownServerIPAddressList" />
            </label>
        </p>
        <button type="submit" class="btn btn-primary">Next</button>
    </EditForm>
</SfDialog>


@code {
    public static List<GameServerModel> gGameServerModels;
    private List<ItemModel> Toolbaritems;
    private GameServerModel m_NewGameServerModel = new GameServerModel();
    private SfDialog m_NewGameServerDialog;
    private List<string> m_DropDownGameIDsList;
    private List<string> m_DropDownServerList;
    private List<string> m_DropDownServerIPAddressList;
    private SfDropDownList<string, string> m_GameDropDown;
    private SfDropDownList<string, string> m_ServerDropDown;
    private SfDropDownList<string, string> m_ServerIPAddressDropDown;

    protected override void OnInitialized()
    {
        m_DropDownGameIDsList = new List<string>();
        foreach (var item in Enum.GetValues(typeof(GameID)))
        {

            m_DropDownGameIDsList.Add(GameIDHelpers.GameIDToGameNames[(GameID)item]);
        }

        m_DropDownServerList = new List<string>();
        m_DropDownServerIPAddressList = new List<string>();

        foreach (var item in GlobalVariables.gDedicatedServers)
        {
            m_DropDownServerList.Add(item.Name);
        }


        Toolbaritems = new List<ItemModel>(){
        new ItemModel() { Text = "Add New", TooltipText = "Setup A New Game Server", PrefixIcon = "e-collapse", Align = (Syncfusion.Blazor.Navigations.ItemAlign.Right) }        };
    }

    public async void OnCommandClicked(CommandClickEventArgs<GameServerModel> args)
    {
        // Perform required operations here
        Console.WriteLine("CONENT");
        Console.WriteLine(args.CommandColumn.ButtonOption.Content);
        if (args.CommandColumn.ButtonOption.Content.Contains("Console"))
        {
            OpenConsole(args);
        }
        else if (args.CommandColumn.ButtonOption.Content.Contains("File Manager"))
        {

            Console.WriteLine(args.RowData.NetworkAddress + "api/v1/FileManagerProvider/ViewGameServerFolder");

            await GlobalVariables.gHttpClient.PostAsJsonAsync<GameServerIDWithGameID>(args.RowData.NetworkAddress + "api/v1/FileManagerProvider/ViewGameServerFolder", new GameServerIDWithGameID() { GameID = args.RowData.GameID, GameServerID = args.RowData.UniqueGameServerID });


            Console.WriteLine("AFTER");

            // FileManager.gFileManager = new Syncfusion.Blazor.FileManager.SfFileManager();

            FileManager.ajaxUrl = args.RowData.NetworkAddress + "api/v1/FileManagerProvider/FileOperations";
            FileManager.ajaxDownloadUrl = args.RowData.NetworkAddress + "api/v1/FileManagerProvider/Download";
            FileManager.ajaxUploadUrl = args.RowData.NetworkAddress + "api/v1/FileManagerProvider/Upload";
            FileManager.ajaxGetImageUrl = args.RowData.NetworkAddress + "api/v1/FileManagerProvider/GetImage";

            FileManager.pathString = "/Games/" + args.RowData.UniqueGameServerID;

            NavigationManager.NavigateTo("FileManager");

        }

    }


    async void OpenConsole(CommandClickEventArgs<GameServerModel> args)
    {
        Console.WriteLine("Open console");
        GameServerPages.Console.m_ConsoleText.Clear();
        GameServerPages.Console.m_GameModel = args.RowData;
        GameServerPages.Console.isPollEnabled = true;
        Console.WriteLine("ENABLED POLL");
        GameServerPages.Console.m_isGameServer = true;
        System.Console.WriteLine((GameID)args.RowData.GameID);
        System.Console.WriteLine(args.RowData.UniqueGameServerID);
        System.Console.WriteLine(Pages.GameServerPages.Console.IPAddress + "api/v1/Console/GetAllConsoleInfo");

        switch ((GameID)args.RowData.GameID)
        {
            case GameID.SevenDays2Die:
                var gameServer = GlobalVariables.Get7Days2DieGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = gameServer.IPAddress;
                break;
            case GameID.ArkSurvivalEvolved:
                var arkGameServer = GlobalVariables.GetArkSEGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = arkGameServer.IPAddress;
                break;
            case GameID.Astroneer:
                var astroneer = GlobalVariables.GetAstroneerGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = astroneer.IPAddress;
                break;
            case GameID.ConanExiles:
                var conanExiles = GlobalVariables.GetConanExilesGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = conanExiles.IPAddress;
                break;
            case GameID.CounterStrike:
                var CounterStrike = GlobalVariables.GetConanExilesGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = CounterStrike.IPAddress;
                break;
            case GameID.CounterStrikeConditionZero:
                var CounterStrikeConditionZero = GlobalVariables.GetCounterStrikeConditionZero(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = CounterStrikeConditionZero.IPAddress;
                break;
            case GameID.CounterStrikeGO:
                var csgoServer = GlobalVariables.GetCSGoGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = csgoServer.IPAddress;
                break;
            case GameID.CounterStrikeSource:
                var CounterStrikeSource = GlobalVariables.GetCounterStrikeSourceGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = CounterStrikeSource.IPAddress;
                break;
            case GameID.EmpyrionGalacticSurvival:
                var EmpyrionGalacticSurvival = GlobalVariables.GetEmpyrionGalacticSurvivalGame(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = EmpyrionGalacticSurvival.IPAddress;
                break;
            case GameID.GarrysMod:
                var GarrysMod = GlobalVariables.GetGarrysModGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = GarrysMod.IPAddress;
                break;
            case GameID.HellLetLoose:
                var HellLetLoose = GlobalVariables.GetHellLetLooseGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = HellLetLoose.IPAddress;
                break;
            case GameID.KillingFloor2:
                var KillingFloor2 = GlobalVariables.GetKillingFloor2GameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = KillingFloor2.IPAddress;
                break;
            case GameID.Left4Dead2:
                var Left4Dead2 = GlobalVariables.GetLeft4Dead2GameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = Left4Dead2.IPAddress;
                break;
            case GameID.Mordhau:
                var Mordhau = GlobalVariables.GetMordhauGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = Mordhau.IPAddress;
                break;
            case GameID.ProjectZomboid:
                var ProjectZomboid = GlobalVariables.GetProjectZomboidGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = ProjectZomboid.IPAddress;
                break;
            case GameID.Rust:
                var Rust = GlobalVariables.GetRustGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = Rust.IPAddress;
                break;
            case GameID.SCPSecretLaboratory:
                var SCPSecretLaboratory = GlobalVariables.GetSecretLaboratoryGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = SCPSecretLaboratory.IPAddress;
                break;
            case GameID.SpaceEngineers:
                var SpaceEngineers = GlobalVariables.GetSpaceEngineersGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = SpaceEngineers.IPAddress;
                break;
            case GameID.Squad:
                var Squad = GlobalVariables.GetSquadGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = Squad.IPAddress;
                break;
            case GameID.Terraria:
                var terrariaServer = GlobalVariables.GetTerrariaGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = terrariaServer.IPAddress;
                break;
            case GameID.TeamFortress2:
                var TeamFortress2 = GlobalVariables.GetTeamFortress2GameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = TeamFortress2.IPAddress;
                break;
            case GameID.TheForest:
                var TheForest = GlobalVariables.GetTheForestGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = TheForest.IPAddress;
                break;
            case GameID.TheIsle:
                var TheIsle = GlobalVariables.GetIsleGameServer(args.RowData.UniqueGameServerID);
                GameServerPages.Console.IPAddress = TheIsle.IPAddress;
                break;
            default:
                Console.WriteLine("Error: GameID Console not implemented: " + args.RowData.GameID);
                break;
        }


        var httpResponse = await GlobalVariables.gHttpClient.PostAsJsonAsync<ulong>(Pages.GameServerPages.Console.IPAddress + "api/v1/Console/GetAllConsoleInfo", Pages.GameServerPages.Console.m_GameModel.UniqueGameServerID);

        var consoleText = await httpResponse.Content.ReadFromJsonAsync<List<string>>();

        foreach (var item in consoleText)
        {
            GameServerPages.Console.m_ConsoleText.Add(item);
        }
        NavigationManager.NavigateTo("Console");
    }

    public void ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        m_NewGameServerDialog.Show();
    }

    public void OnDedicatedServerValueChanged(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        FindDedicatedServerByName(args.Value);
        m_DropDownServerIPAddressList.Clear();

        foreach (var item in GlobalVariables.gSelectedDedicatedServer.IPAddress)
        {
            Console.WriteLine(item);
            m_DropDownServerIPAddressList.Add(item);
        }
    }




    private void OnSubmitNewGameServer()
    {
        toastService.ShowInfo("Submit new game server " + m_GameDropDown.Value);

        var game = GameIDHelpers.GameNamesToGameID[m_GameDropDown.Value];
        if (FindDedicatedServerByName(m_ServerDropDown.Value))
        {
            GlobalVariables.gCurrentSelectedIPAddressForGameServer = "http://" + m_ServerIPAddressDropDown.Value + ":5000/";
            switch (game)
            {
                case GameID.CounterStrikeGO:
                    NavigationManager.NavigateTo("CounterStrikeGlobalOffensive");
                    break;
                case GameID.Terraria:
                    NavigationManager.NavigateTo("Terraria");
                    break;
                case GameID.ConanExiles:
                    NavigationManager.NavigateTo("ConanExiles");
                    break;
                case GameID.SevenDays2Die:
                    NavigationManager.NavigateTo("7Days2Die");
                    break;
                case GameID.ArkSurvivalEvolved:
                    NavigationManager.NavigateTo("ArkSE");
                    break;
                case GameID.TeamFortress2:
                    NavigationManager.NavigateTo("TF2");
                    break;
                case GameID.GarrysMod:
                    NavigationManager.NavigateTo("GarrysMod");
                    break;
                case GameID.Rust:
                    NavigationManager.NavigateTo("Rust");
                    break;
                case GameID.KillingFloor2:
                    NavigationManager.NavigateTo("KillingFloor2");
                    break;
                case GameID.TheForest:
                    NavigationManager.NavigateTo("TheForest");
                    break;
                case GameID.ProjectZomboid:
                    NavigationManager.NavigateTo("ProjectZomboid");
                    break;
                case GameID.Left4Dead2:
                    NavigationManager.NavigateTo("Left4Dead2");
                    break;
                case GameID.Squad:
                    NavigationManager.NavigateTo("Squad");
                    break;
                case GameID.SpaceEngineers:
                    NavigationManager.NavigateTo("SpaceEngineers");
                    break;
                case GameID.HellLetLoose:
                    NavigationManager.NavigateTo("HellLetLoose");
                    break;
                case GameID.SCPSecretLaboratory:
                    NavigationManager.NavigateTo("SCPSecretLaboratory");
                    break;
                case GameID.Mordhau:
                    NavigationManager.NavigateTo("Mordhau");
                    break;
                case GameID.TheIsle:
                    NavigationManager.NavigateTo("TheIsle");
                    break;
                case GameID.EmpyrionGalacticSurvival:
                    NavigationManager.NavigateTo("EmpyrionGalacticSurvival");
                    break;
                case GameID.Astroneer:
                    NavigationManager.NavigateTo("Astroneer");
                    break;
                case GameID.CounterStrikeConditionZero:
                    NavigationManager.NavigateTo("CounterStrikeConditionZero");
                    break;
                default:
                    break;
            }
        }

    }

    bool FindDedicatedServerByName(string name)
    {
        bool isDedicatedServerFound = false;
        foreach (var item in GlobalVariables.gDedicatedServers)
        {
            Console.WriteLine(m_ServerDropDown.Value);
            Console.WriteLine(item.Name);
            if (name.Equals(item.Name))
            {
                GlobalVariables.gSelectedDedicatedServer = item;
                isDedicatedServerFound = true;
                break;
            }
        }

        if (!isDedicatedServerFound)
        {
            toastService.ShowError("Could Not Find Dedicated Server In DataBase!");
        }

        return isDedicatedServerFound;

    }
}

