﻿@page "/"
@using Syncfusion.Blazor.Charts
@using System.Collections.ObjectModel
@using System.ComponentModel
<div class="row">
        <div class="col-6">
            <SfAccumulationChart @ref="sfChart" Title="Dedicated Servers">
                <AccumulationChartSeriesCollection>
                    <AccumulationChartSeries DataSource="@gDedicatedServerStats" XName="xName" YName="yNumber"
                                             Name="Online Deicated Servers" PointColorMapping="Fill">
                    </AccumulationChartSeries>
                </AccumulationChartSeriesCollection>
                <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
            </SfAccumulationChart>
        </div>
        <div class="col-6">
            <SfAccumulationChart @ref="gameServersChart" Title="Game Servers">
                <AccumulationChartSeriesCollection>
                    <AccumulationChartSeries DataSource="@gGameServerStats" XName="xName" YName="yNumber"
                                             Name="Online Game Servers" PointColorMapping="Fill">
                    </AccumulationChartSeries>
                </AccumulationChartSeriesCollection>

                <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
            </SfAccumulationChart>
        </div>
    </div>


@code {

    public static SfAccumulationChart sfChart;
    public static SfAccumulationChart gameServersChart;

    public static List<DedicatedServerPieChartStats> gDedicatedServerStats { get; set; } = new List<DedicatedServerPieChartStats>();
    public static List<GameServerServerPieChartStats> gGameServerStats { get; set; } = new List<GameServerServerPieChartStats>();





}

