﻿@inherits LayoutComponentBase
@using UniversalGameServerManager.Models
@inject NavigationManager UriHelper

@inject IToastService toastService
   
 <div class="sidebar">
        <SfSidebar Width="250px" >
            <ChildContent>
                <div class="text" style="width: 100%;font-size: 30px;text-align: center;">MAIN</div>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Dashboard
                </NavLink>
                <NavLink class="nav-link" href="DedicatedServers" Match="NavLinkMatch.All">
                    <span class="oi oi-browser" aria-hidden="true"></span> Dedicated Servers
                </NavLink>
                <NavLink class="nav-link" href="GameServers" Match="NavLinkMatch.All">
                    <span class="oi oi-eye" aria-hidden="true"></span>Game Servers
                </NavLink>
                <NavLink class="nav-link" href="FileManager" Match="NavLinkMatch.All">
                    <span class="oi oi-folder" aria-hidden="true"></span> File Manager
                </NavLink>
                @*<NavLink class="nav-link" href="GeneralConsole" Match="NavLinkMatch.All">
                    <span class="oi oi-envelope-closed" aria-hidden="true"></span> General Console
                </NavLink>*@
                <NavLink class="nav-link" href="test" Match="NavLinkMatch.All">
                    <span class="oi oi-warning" aria-hidden="true"></span> Events
                </NavLink>
                <NavLink class="nav-link" href="Settings" Match="NavLinkMatch.All">
                    <span class="oi oi-wrench" aria-hidden="true"></span> Settings
                </NavLink>
            </ChildContent>
        </SfSidebar>
    </div>

   


    <div class="main">
        <div class="top-row px-4">
        </div>

        <div class="content">
            @Body
        </div>
    </div>



<Blazored.Toast.BlazoredToasts /> 